<div id="<%= dom_id forecast %>">
  <p>
    <strong>Location:</strong>
    <%= forecast.name %>
    <br>
    <small>Lat: <%= forecast.latitude %>, Lng: <%= forecast.longitude %></small>
  </p>
</div>
